api_id:
api_hash:
title:
short_name:
test_configuration:
production_configuration:

public_keys:


-----BEGIN RSA PUBLIC KEY-----
-----END RSA PUBLIC KEY-----

-----BEGIN PUBLIC KEY-----
-----END PUBLIC KEY-----

-----BEGIN PUBLIC KEY-----
-----END PUBLIC KEY-----

-----BEGIN PUBLIC KEY-----
-----END PUBLIC KEY-----

-----BEGIN PUBLIC KEY-----
-----END PUBLIC KEY-----